:root {
  /* colors */
  --text-dark: #0a0a0a;
  --text-light: #f1f1f1;
  --text-grey: #adbdcc;

  --light-purple: #6962f7; /* Lighter purple */
  --dark-purple: #7000ff; /* Darker purple */
  --deep-blue: #0a2540; /* Dark blue */

  /* Font Family */
  --body-font-family: "Inter", sans-serif;
  --heading-font-family: "Poppins", sans-serif;

  /* Headings Sizes */
  --h1-font-size: 96px;
  --h2-font-size: 60px;
  --h3-font-size: 48px;
  --h4-font-size: 34px;
  --h5-font-size: 28px;
  --h6-font-size: 22px;

  /* Line heights */
  --h1-line-height: 108px;
  --h2-line-height: 75px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
}
/* Basic Headings Styles  */
h1 {
  font-family: var(--heading-font-family);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-family: var(--heading-font-family);
  line-height: var(--h2-line-height);
  font-size: var(--h2-font-size);
  font-weight: 500;
  letter-spacing: -0.25px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: var(--h3-font-size);
  font-weight: 400;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: var(--h4-font-size);
  font-weight: 500;
  letter-spacing: 0.25;
}

h5 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: var(--h5-font-size);
}

h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: var(--h6-font-size);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--light-purple);
  font-weight: 500;
  transition: color 0.4s ease;
}

a:hover,
a:active {
  color: var(--deep-blue);
}
